.project
.classpath
.settings
/.settings
*.releaseBackup
release.properties
.idea
/.idea
*.iml
*.class
bin/
target/
output/
io/
temp/
/input
data/
datasets/
.DS_Store
adp-algorithms/build
adp-algorithms/**/build
